.announcementDiv{
    display: flex;
    flex-direction: column;
    padding: 2em 8em;
}

.announcementThreads {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 0.5em;
    padding: 2em;
}

.announcement {
    padding: 0 1em;
    border: 1px solid #ccc;
    height: 8em;
    border-radius: 0.5em;
    margin: 0.5em;
}